# Extract data using riot developer API

In [438]:
import requests
import urllib
import pandas as pd
import numpy as np
import json 
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import sqlite3

In [7]:
# headers information
headers_riot = {"Origin": "https://developer.riotgames.com",
                "Accept-Charset": "application/x-www-form-urlencoded; charset=UTF-8",
                "X-Riot-Token": "RGAPI-371612d5-3d90-4dfd-82b6-1a4ac662034a",
                "Accept-Language": "en-US,en;q=0.8",
                "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36"}

In [8]:
# a total of 16 choices - the last one is all
options = ["allytips","blurb","enemytips","format","image","info","keys","lore","partype","passive",
           "recommended","skins","spells","stats","tags","all"]

In [77]:
# defining a class to extract and clean the data
class data_file(object):
    
    def __init__(self, data_type):
        self.data_type = data_type
    
    def data_champion(self):
        champion_url = "https://na1.api.riotgames.com/lol/static-data/v3/champions?locale=en_US&tags=%s&dataById=true" % self.data_type
        full_data = requests.get(url = champion_url, headers = headers_riot)
        df = pd.read_json(full_data.text)
        df.reset_index(inplace=True)
        print "The status code was " + str(full_data.status_code)
        self.data = df
    
    def data_cleaning(self):
        self.data_cleaned = self.data
        for each in self.data_cleaned["data"][0].keys():
            self.data_cleaned[each] = self.data_cleaned["data"].apply(lambda x: x[each])
        self.data_cleaned = self.data_cleaned.drop(["type","index","version","data","key"], axis = 1)
        print self.data_cleaned.head(2)
        self.colnames = list(self.data_cleaned)
    
    def additional_cleanup(self):
        self.data_final = self.data_cleaned
        for each in self.data_final:
            if type(self.data_final[each][0]) == dict:
                names = list(self.data_final[each][0])
                for i in names:
                    self.data_final[i] = self.data_final[each].apply(lambda x: x[i])
                self.data_final.drop(each, axis = 1, inplace = True)
        print self.data_final.head(2)

In [28]:
# allytips data
allytips_df = data_file("allytips")
allytips_df.data_champion()
allytips_df.data_cleaning()
allytips_df.data_cleaned.head(2)

The status code was 200
            title                                           allytips  id  \
0  the Dark Child  [Storing a stun for use with her ultimate can ...   1
1   The Judicator  [Using Intervention on a high-DPS ally can tur...  10

    name
0  Annie
1  Kayle

,title,allytips,id,name
0,the Dark Child,[Storing a stun for use with her ultimate can ...,1,Annie
1,The Judicator,[Using Intervention on a high-DPS ally can tur...,10,Kayle

In [29]:
blurb_df = data_file("blurb")
blurb_df.data_champion()
blurb_df.data_cleaning()
blurb_df.data_cleaned.head(2)

The status code was 200
                                               blurb           title  id  \
0  There have always been those within Noxus who ...  the Dark Child   1
1  In a world far away where an ancient war still...   The Judicator  10

    name
0  Annie
1  Kayle

,blurb,title,id,name
0,There have always been those within Noxus who ...,the Dark Child,1,Annie
1,In a world far away where an ancient war still...,The Judicator,10,Kayle

In [33]:
enemytips_df = data_file("enemytips")
enemytips_df.data_champion()
enemytips_df.data_cleaning()
enemytips_df.data_cleaned.head(2)

The status code was 200
            title                                          enemytips  id  \
0  the Dark Child  [Annie's summoned bear, Tibbers, burns opposin...   1
1   The Judicator  [Intervention only grants Kayle or her allies ...  10

    name
0  Annie
1  Kayle

,title,enemytips,id,name
0,the Dark Child,"[Annie's summoned bear, Tibbers, burns opposin...",1,Annie
1,The Judicator,[Intervention only grants Kayle or her allies ...,10,Kayle

In [34]:
format_df = data_file("format")
format_df.data_champion()
format_df.data_cleaning()
format_df.data_cleaned.head(2)

The status code was 200
  format           title  id   name
0   full  the Dark Child   1  Annie
1   full   The Judicator  10  Kayle

  format           title  id   name
0   full  the Dark Child   1  Annie
1   full   The Judicator  10  Kayle

In [78]:
info_df = data_file("info")
info_df.data_champion()

The status code was 200

In [79]:
info_df.data_cleaning()
info_df.data_cleaned.head(2)
info_df.additional_cleanup()
info_df.data_final.head(2)

                                                info           title  id  \
0  {u'difficulty': 6, u'attack': 2, u'defense': 3...  the Dark Child   1
1  {u'difficulty': 7, u'attack': 6, u'defense': 6...   The Judicator  10

    name
0  Annie
1  Kayle
            title  id   name  difficulty  attack  defense  magic
0  the Dark Child   1  Annie           6       2        3     10
1   The Judicator  10  Kayle           7       6        6      7

            title  id   name  difficulty  attack  defense  magic
0  the Dark Child   1  Annie           6       2        3     10
1   The Judicator  10  Kayle           7       6        6      7

In [82]:
lore_df = data_file("lore")
lore_df.data_champion()

The status code was 200

In [85]:
lore_df.data_cleaning()
lore_df.data_cleaned.head(1)

                                                lore           title  id  \
0  There have always been those within Noxus who ...  the Dark Child   1
1  In a world far away where an ancient war still...   The Judicator  10

    name
0  Annie
1  Kayle

,lore,title,id,name
0,There have always been those within Noxus who ...,the Dark Child,1,Annie

In [91]:
partype_df = data_file("partype")
partype_df.data_champion()
partype_df.data_cleaning()
partype_df.data_cleaned.head(2)

The status code was 200
  partype           title  id   name
0    Mana  the Dark Child   1  Annie
1    Mana   The Judicator  10  Kayle

  partype           title  id   name
0    Mana  the Dark Child   1  Annie
1    Mana   The Judicator  10  Kayle

In [327]:
passive_df = data_file("passive")
passive_df.data_champion()
passive_df.data_cleaning()
passive_df.data_cleaned.head(2)

The status code was 200
                                             passive           title  id  \
0  {u'image': {u'full': u'Annie_Passive.png', u'g...  the Dark Child   1
1  {u'image': {u'full': u'Kayle_Passive.png', u'g...   The Judicator  10

    name
0  Annie
1  Kayle

,passive,title,id,name
0,"{u'image': {u'full': u'Annie_Passive.png', u'g...",the Dark Child,1,Annie
1,"{u'image': {u'full': u'Kayle_Passive.png', u'g...",The Judicator,10,Kayle

In [328]:
passive_df.additional_cleanup()
passive_df.data_final.head(1)

            title  id         name  \
0  the Dark Child   1    Pyromania
1   The Judicator  10  Holy Fervor

                                               image  \
0  {u'full': u'Annie_Passive.png', u'group': u'pa...
1  {u'full': u'Kayle_Passive.png', u'group': u'pa...

                                sanitizedDescription  \
0  After casting 4 spells, Annie's next offensive...
1  When Kayle attacks a champion, the target lose...

                                         description
0  After casting 4 spells, Annie's next offensive...
1  When Kayle attacks a champion, the target lose...

,title,id,name,image,sanitizedDescription,description
0,the Dark Child,1,Pyromania,"{u'full': u'Annie_Passive.png', u'group': u'pa...","After casting 4 spells, Annie's next offensive...","After casting 4 spells, Annie's next offensive..."

In [101]:
recommended_df = data_file("recommended")
recommended_df.data_champion()
recommended_df.data_cleaning()
recommended_df.data_cleaned.head(2)

The status code was 200
                                         recommended           title  id  \
0  [{u'map': u'HA', u'blocks': [{u'items': [{u'co...  the Dark Child   1
1  [{u'map': u'SR', u'blocks': [{u'items': [{u'co...   The Judicator  10

    name
0  Annie
1  Kayle

,recommended,title,id,name
0,"[{u'map': u'HA', u'blocks': [{u'items': [{u'co...",the Dark Child,1,Annie
1,"[{u'map': u'SR', u'blocks': [{u'items': [{u'co...",The Judicator,10,Kayle

In [355]:
for i in range(0, max(recommended_df.data_cleaned["recommended"].apply(lambda x: len(x)))):
    name = "recommended_%d" % i
    recommended_df.data_cleaned[name] = recommended_df.data_cleaned["recommended"].apply(lambda x: np.nan if (i+1) > len(x) else x[i])

In [357]:
# recommended data will be further cleaned up when used in combination with items
recommended_df.data_cleaned.head(2)

,recommended,title,id,name,recommended_0,recommended_1,recommended_2,recommended_3,recommended_4,recommended_5,recommended_6,recommended_7,recommended_8,recommended_9
0,"[{u'map': u'HA', u'blocks': [{u'items': [{u'co...",the Dark Child,1,Annie,"{u'map': u'HA', u'blocks': [{u'items': [{u'cou...","{u'map': u'CS', u'blocks': [{u'items': [{u'cou...","{u'map': u'HA', u'blocks': [{u'items': [{u'cou...","{u'map': u'HA', u'blocks': [{u'items': [{u'cou...","{u'map': u'SR', u'blocks': [{u'items': [{u'cou...","{u'map': u'SR', u'blocks': [{u'items': [{u'cou...","{u'map': u'TT', u'blocks': [{u'items': [{u'cou...","{u'map': u'SR', u'blocks': [{u'items': [{u'cou...",NaN,NaN
1,"[{u'map': u'SR', u'blocks': [{u'items': [{u'co...",The Judicator,10,Kayle,"{u'map': u'SR', u'blocks': [{u'items': [{u'cou...","{u'map': u'HA', u'blocks': [{u'items': [{u'cou...","{u'map': u'CS', u'blocks': [{u'items': [{u'cou...","{u'map': u'HA', u'blocks': [{u'items': [{u'cou...","{u'map': u'HA', u'blocks': [{u'items': [{u'cou...","{u'map': u'SR', u'blocks': [{u'items': [{u'cou...","{u'map': u'SR', u'blocks': [{u'items': [{u'cou...","{u'map': u'TT', u'blocks': [{u'items': [{u'cou...",NaN,NaN

In [235]:
skins_df = data_file("skins")
skins_df.data_champion()
skins_df.data_cleaning()
skins_df.data_cleaned.head(2)

The status code was 200
            title                                              skins  id  \
0  the Dark Child  [{u'num': 0, u'id': 1000, u'name': u'default'}...   1
1   The Judicator  [{u'num': 0, u'id': 10000, u'name': u'default'...  10

    name
0  Annie
1  Kayle

,title,skins,id,name
0,the Dark Child,"[{u'num': 0, u'id': 1000, u'name': u'default'}...",1,Annie
1,The Judicator,"[{u'num': 0, u'id': 10000, u'name': u'default'...",10,Kayle

In [358]:
skins_df.data_cleaned["no_skins"] = skins_df.data_cleaned["skins"].apply(lambda x: len(x))

In [366]:
for i in range(0, 11):
    new_name = "skins_%d" % i
    new_id = "skins_%d_id" % i
    skins_df.data_cleaned[new_name] = skins_df.data_cleaned["skins"].apply(lambda x: np.nan if (i+1) > len(x) else x[i].get("name"))
    skins_df.data_cleaned[new_id] = skins_df.data_cleaned["skins"].apply(lambda x: np.nan if (i+1) > len(x) else x[i].get("id"))

In [367]:
skins_df.data_cleaned.head(1)

,title,skins,id,name,no_skins,skins_0,skins_0_id,skins_1,skins_1_id,skins_2,...,skins_6,skins_6_id,skins_7,skins_7_id,skins_8,skins_8_id,skins_9,skins_9_id,skins_10,skins_10_id
0,the Dark Child,"[{u'num': 0, u'id': 1000, u'name': u'default'}...",1,Annie,11,default,1000,Goth Annie,1001,Red Riding Annie,...,Reverse Annie,1006.0,FrankenTibbers Annie,1007.0,Panda Annie,1008.0,Sweetheart Annie,1009.0,Hextech Annie,1010.0

In [238]:
spells_df = data_file("spells")
spells_df.data_champion()
spells_df.data_cleaning()
spells_df.data_cleaned.head(2)

The status code was 200
                                              spells           title  id  \
0  [{u'cooldownBurn': u'4', u'key': u'Disintegrat...  the Dark Child   1
1  [{u'cooldownBurn': u'8', u'key': u'JudicatorRe...   The Judicator  10

    name
0  Annie
1  Kayle

,spells,title,id,name
0,"[{u'cooldownBurn': u'4', u'key': u'Disintegrat...",the Dark Child,1,Annie
1,"[{u'cooldownBurn': u'8', u'key': u'JudicatorRe...",The Judicator,10,Kayle

In [302]:
spells_df.data_cleaning()
spells_df.data_cleaned.head(2)

                                              spells           title  id  \
0  [{u'cooldownBurn': u'4', u'key': u'Disintegrat...  the Dark Child   1
1  [{u'cooldownBurn': u'8', u'key': u'JudicatorRe...   The Judicator  10

    name
0  Annie
1  Kayle

,spells,title,id,name
0,"[{u'cooldownBurn': u'4', u'key': u'Disintegrat...",the Dark Child,1,Annie
1,"[{u'cooldownBurn': u'8', u'key': u'JudicatorRe...",The Judicator,10,Kayle

In [303]:
# extracting no of spells
spells_df.data_cleaned["no_spells"] = spells_df.data_cleaned["spells"].apply(lambda x: len(x))

In [304]:
# extracting data with single cell respose
spell_single_char = ["costType","maxrank","description","name"]
for i in range(1,5):
    base = "spell%d" %i
    for each in spell_single_char:
        new = base + "_%s" % each
        spells_df.data_cleaned[new] = spells_df.data_cleaned["spells"].apply(lambda x: x[i-1].get(each))

In [305]:
#extracting data that will change with level
spells_df.data_cleaned[["spell1_maxrank","spell2_maxrank","spell3_maxrank","spell4_maxrank"]].agg("max")

spell1_maxrank    6
spell2_maxrank    6
spell3_maxrank    6
spell4_maxrank    5
dtype: int64

In [312]:
leveling = ["cooldown","cost","range"]
for i in range(1,5):
    base = "spell%d" % i
    range_number = 0
    if i == 4:
        range_number = 6
    else:
        range_number = 7
    for each in leveling:
        for number in range(1,range_number):
            new_name = base + "_lv%d" % number + "_%s" % each
            new_number = number - 1
            spells_df.data_cleaned[new_name] = spells_df.data_cleaned["spells"].apply(lambda x: np.NaN if len(x[i-1].get(each))<number else x[i-1].get(each)[new_number])

In [368]:
spells_df.data_cleaned.head(1)

,spells,title,id,name,no_spells,spell1_costType,spell1_maxrank,spell1_description,spell1_name,spell2_costType,...,spell4_lv1_cost,spell4_lv2_cost,spell4_lv3_cost,spell4_lv4_cost,spell4_lv5_cost,spell4_lv1_range,spell4_lv2_range,spell4_lv3_range,spell4_lv4_range,spell4_lv5_range
0,"[{u'cooldownBurn': u'4', u'key': u'Disintegrat...",the Dark Child,1,Annie,4,Mana,5,"Annie hurls a Mana infused fireball, dealing d...",Disintegrate,Mana,...,100,100.0,100.0,NaN,NaN,600,600.0,600.0,NaN,NaN

In [107]:
stats_df = data_file("stats")
stats_df.data_champion()
stats_df.data_cleaning()
stats_df.data_cleaned.head(2)

The status code was 200
            title                                              stats  id  \
0  the Dark Child  {u'armorperlevel': 4.0, u'attackdamage': 50.41...   1
1   The Judicator  {u'armorperlevel': 3.5, u'attackdamage': 51.0,...  10

    name
0  Annie
1  Kayle

,title,stats,id,name
0,the Dark Child,"{u'armorperlevel': 4.0, u'attackdamage': 50.41...",1,Annie
1,The Judicator,"{u'armorperlevel': 3.5, u'attackdamage': 51.0,...",10,Kayle

In [109]:
stats_df.additional_cleanup()
stats_df.data_final.head(1)

            title  id   name  armorperlevel  attackdamage  mpperlevel  \
0  the Dark Child   1  Annie            4.0         50.41        50.0
1   The Judicator  10  Kayle            3.5         51.00        40.0

   attackspeedoffset     mp  armor      hp     ...      movespeed  \
0               0.08  334.0  19.22  511.68     ...          335.0
1              -0.02  322.2  26.88  574.24     ...          335.0

   attackdamageperlevel  mpregenperlevel  critperlevel  spellblockperlevel  \
0                 2.625              0.8           0.0                 0.5
1                 2.800              0.8           0.0                 0.5

   crit  mpregen  spellblock  hpregen  hpperlevel
0   0.0      6.0        30.0    5.424        76.0
1   0.0      6.0        30.0    8.260        93.0

[2 rows x 23 columns]

,title,id,name,armorperlevel,attackdamage,mpperlevel,attackspeedoffset,mp,armor,hp,...,movespeed,attackdamageperlevel,mpregenperlevel,critperlevel,spellblockperlevel,crit,mpregen,spellblock,hpregen,hpperlevel
0,the Dark Child,1,Annie,4.0,50.41,50.0,0.08,334.0,19.22,511.68,...,335.0,2.625,0.8,0.0,0.5,0.0,6.0,30.0,5.424,76.0

In [110]:
tags_df = data_file("tags")
tags_df.data_champion()
tags_df.data_cleaning()
tags_df.data_cleaned.head(2)

The status code was 200
                 tags           title  id   name
0              [Mage]  the Dark Child   1  Annie
1  [Fighter, Support]   The Judicator  10  Kayle

                 tags           title  id   name
0              [Mage]  the Dark Child   1  Annie
1  [Fighter, Support]   The Judicator  10  Kayle

In [374]:
tags_df.data_cleaned["no_tags"] = tags_df.data_cleaned["tags"].apply(lambda x: len(x))

In [394]:
set(reduce(lambda x, y: x+y, list(tags_df.data_cleaned["tags"])))

{u'Assassin',
 u'Fighter',
 u'Mage',
 u'Marksman',
 u'Support',
 u'Tank',
 u'Tank,melee'}

In [424]:
tags_df.data_cleaned.set_value(135,"tags",map(lambda x: x.title(),tags_df.data_cleaned.loc[135,"tags"][0].split(",")),)

,tags,title,id,name,no_tags
0,[Mage],the Dark Child,1,Annie,1
1,"[Fighter, Support]",The Judicator,10,Kayle,2
2,"[Mage, Assassin]",the Magus Ascendant,101,Xerath,2
3,"[Fighter, Tank]",the Half-Dragon,102,Shyvana,2
4,"[Mage, Assassin]",the Nine-Tailed Fox,103,Ahri,2
5,[Marksman],the Outlaw,104,Graves,1
6,"[Assassin, Fighter]",the Tidal Trickster,105,Fizz,2
7,"[Fighter, Tank]",the Thunder's Roar,106,Volibear,2
8,"[Assassin, Fighter]",the Pridestalker,107,Rengar,2
9,"[Assassin, Fighter]",the Wuju Bladesman,11,Master Yi,2
10,"[Marksman, Mage]",the Arrow of Retribution,110,Varus,2
11,"[Tank, Fighter]",the Titan of the Depths,111,Nautilus,2
12,[Mage],the Machine Herald,112,Viktor,1
13,"[Tank, Fighter]",Fury of the North,113,Sejuani,2
14,"[Fighter, Assassin]",the Grand Duelist,114,Fiora,2
15,[Mage],the Hexplosives Expert,115,Ziggs,1
16,"[Support, Mage]",the Fae Sorceress,117,Lulu,2
17,[Marksman],the Glorious Executioner,119,Draven,1
18,"[Tank, Support]",the Minotaur,12,Alistar,2
19,"[Fighter, Tank]",the Shadow of War,120,Hecarim,2
20,"[Assassin, Fighter]",the Voidreaver,121,Kha'Zix,2
21,"[Fighter, Tank]",the Hand of Noxus,122,Darius,2
22,"[Fighter, Marksman]",the Defender of Tomorrow,126,Jayce,2
23,[Mage],the Ice Witch,127,Lissandra,1
24,"[Mage, Fighter]",the Rune Mage,13,Ryze,2
25,"[Fighter, Mage]",Scorn of the Moon,131,Diana,2
26,"[Marksman, Fighter]",Demacia's Wings,133,Quinn,2
27,"[Mage, Support]",the Dark Sovereign,134,Syndra,2
28,"[Mage, Fighter]",The Star Forger,136,Aurelion Sol,2
29,"[Tank, Fighter]",The Undead Juggernaut,14,Sion,2
...,...,...,...,...,...
107,"[Fighter, Tank]",the Monkey King,62,Wukong,2
108,[Mage],the Burning Vengeance,63,Brand,1
109,"[Fighter, Assassin]",the Blind Monk,64,Lee Sin,2
110,"[Marksman, Assassin]",the Night Hunter,67,Vayne,2
111,"[Fighter, Mage]",the Mechanized Menace,68,Rumble,2
112,[Mage],the Serpent's Embrace,69,Cassiopeia,1
113,"[Assassin, Mage]",the Deceiver,7,LeBlanc,2
114,"[Fighter, Tank]",the Crystal Vanguard,72,Skarner,2
115,"[Mage, Support]",the Revered Inventor,74,Heimerdinger,2
116,"[Fighter, Tank]",the Curator of the Sands,75,Nasus,2
117,"[Assassin, Fighter]",the Bestial Huntress,76,Nidalee,2
118,"[Fighter, Tank]",the Spirit Walker,77,Udyr,2
119,"[Tank, Fighter]",Keeper of the Hammer,78,Poppy,2
120,"[Fighter, Mage]",the Rabble Rouser,79,Gragas,2
121,"[Mage, Tank]",the Crimson Reaper,8,Vladimir,2
122,"[Fighter, Assassin]",the Artisan of War,80,Pantheon,2
123,"[Marksman, Mage]",the Prodigal Explorer,81,Ezreal,2
124,[Fighter],the Iron Revenant,82,Mordekaiser,1
125,"[Fighter, Tank]",Shepherd of Souls,83,Yorick,2
126,[Assassin],the Fist of Shadow,84,Akali,1
127,"[Mage, Marksman]",the Heart of the Tempest,85,Kennen,2
128,"[Fighter, Tank]",The Might of Demacia,86,Garen,2
129,"[Tank, Support]",the Radiant Dawn,89,Leona,2
130,"[Mage, Support]",the Harbinger of Doom,9,Fiddlesticks,2
131,"[Mage, Assassin]",the Prophet of the Void,90,Malzahar,2
132,"[Assassin, Fighter]",the Blade's Shadow,91,Talon,2
133,"[Fighter, Assassin]",the Exile,92,Riven,2
134,"[Marksman, Mage]",the Mouth of the Abyss,96,Kog'Maw,2
135,"[Tank, Melee]",the Eye of Twilight,98,Shen,1
136,"[Mage, Support]",the Lady of Luminosity,99,Lux,2

In [433]:
a = set(reduce(lambda x, y: x+y, list(tags_df.data_cleaned["tags"])))

In [434]:
def checking_text(text, tags):
    if text in tags:
        return 1
    else:
        return 0

In [435]:
for i in a:
    tags_df.data_cleaned[i] = tags_df.data_cleaned["tags"].apply(lambda x: checking_text(i, x))

In [437]:
tags_df.data_cleaned.head(5)

,tags,title,id,name,no_tags,Tank,Support,Melee,Marksman,Fighter,Assassin,Mage
0,[Mage],the Dark Child,1,Annie,1,0,0,0,0,0,0,1
1,"[Fighter, Support]",The Judicator,10,Kayle,2,0,1,0,0,1,0,0
2,"[Mage, Assassin]",the Magus Ascendant,101,Xerath,2,0,0,0,0,0,1,1
3,"[Fighter, Tank]",the Half-Dragon,102,Shyvana,2,1,0,0,0,1,0,0
4,"[Mage, Assassin]",the Nine-Tailed Fox,103,Ahri,2,0,0,0,0,0,1,1

# Storing data into sqlite

In [439]:
sqlite_file = "champion_riot.sqlite"

In [440]:
table_name1 = "allytips"
table_name2 = "blurb"
table_name3 = "enemytips"
table_name4 = "format"
table_name5 = "info"
table_name6 = "lore"
table_name7 = "partype"
table_name8 = "passive"
table_name9 = "recommended"
table_name10 = "skins"
table_name11 = "spells"
table_name12 = "stats"
table_name13 = "tags"

In [441]:
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()